.card {
  background-color: #fff;
  border-radius: s-radius();
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  max-width: 450px;

  ._figure {
    aspect-ratio: 16 / 9;
    overflow: hidden;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      scale: 1;
      transition: s-transition();
    }
  }
  &:hover,
  &:focus {
    ._figure {
      img,
      video {
        scale: 1.05;
      }
    }
  }

  ._body {
    padding: s-space(30);
  }
}
