@import '@lotsof/sugarcss/src/css/sugarcss.css';

:root {
  --s-setting-verbose: false;
  --s-setting-mobile-first: false;

  --s-scrolled-classes-class: scrolled;
  --s-scrolled-classes-offset: 50;

  --s-media-mobile: 0 768px;
  --s-media-tablet: 769px 1024px;
  --s-media-desktop: 1025px;
  --s-media-wide: 1440px;

  --s-container-default: 320px 900px 20px;

  --s-grid-default: '1 1 2 _ 3 4 4 _ 3 5 5' 20px;

  --s-color-main: #9e9161;
  --s-color-accent: #d2b02d;
  --s-color-complementary: #00f0ff;
  --s-color-ternary: #9ec468;
  --s-color-current: #d2b02d;
  --s-color-success: #91ff00;
  --s-color-warning: #ffd500;
  --s-color-error: #ff003b;
  --s-color-info: #00ffff;
  --s-color-php: #777cb5;

  --s-shade-text: --lighten 20;
  --s-shade-text-main: --lighten 35;
  --s-shade-placeholder: --alpha 0.4;
  --s-shade-foreground: --lighten 50;
  --s-shade-background: --darken 40;
  --s-shade-surface: --darken 40;
  --s-shade-border: --alpha 0.2;
  --s-shade-hover: --lighten 40;
  --s-shade-active: --darken 10;

  --s-font-family-sans: 'Roboto', sans-serif;
  --s-font-family-serif: 'Merriweather', serif;
  --s-font-family-code: 'Monaco', sans-serif;
  --s-font-family-quote: 'Palatino', serif;

  --s-easing-default: cubic-bezier(0.745, 0, 0.18, 1);

  --s-transition-slow: all 0.3s cubic-bezier(0.745, 0, 0.18, 1);
  --s-transition-default: all 0.2s cubic-bezier(0.745, 0, 0.18, 1);
  --s-transition-fast: all 0.1s cubic-bezier(0.745, 0, 0.18, 1);

  --s-sizes: 0 80px linear;
  --s-spaces: 0 80px linear;

  --s-font-default: s-font-family(sans) 16px 1.6em;
  --s-font-lead: s-font-family(sans) 26px 1.5em;
  --s-font-title: VT323 s-size(100) 1.1em 300;
  --s-font-code: s-font-family(code) 16px 1.6em 300;

  --s-radius-default: 6px;
  --s-radius-special: 20px 12px 20px 4px;
}

::selection {
  color: s-color(accent, --lighten 50);
  background: s-color(accent, --darken 10);
}

@include s-destyle;

.s-container {
  @s-container;
  margin: 0 0 !important;
}

body {
  font: s-font(default);
  background: s-color(main, --darken 36);
  color: s-color(main, text);
}
